.search-page{
    display: inline;
}

.left-panel{
    width: 15%;
    float: left;
    position: relative;
    border-radius: 20rem;
}

#movie-table{
    position: relative;
    float: right;
    width: 80%;
    margin: 20px
}

.search-button{
    position: static;
    width: 30%;
}

.search-field{
    position: static;
    margin: 20px
}

.progress-indicator{
    position: absolute;
    top: 50%;
    left: 50%;
}

